*.o
*.a
.DS_Store
*.cfd
*.CFD
*.raw
commandlinetools/anisofilter
commandlinetools/cfdfilter
commandlinetools/Makefile
commandlinetools/nihtoraw
commandlinetools/nihtorawZXchanged
commandlinetools/rawtonih
commandlinetools/reconstructor
commandlinetools/segmentor
commandlinetools/simple
commandlinetools/tifftodx
